*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
#title{
    position: absolute;
    top: 20px;
    font-size: 4rem;
    margin-bottom: 30px;
    color: rgb(4, 13, 171);
}
#login-form{
    height: 30vh;
    width: 30vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

input{
    width: 100%;
    height: 70px;
    font-size: large;
}

#login-btn{
    width: 100%;
    height: 70px;
    font-size: large;
    background:linear-gradient(135deg,crimson,pink,white);
    color: white;
    font-weight: bold;
}

#login-output{
 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    color: rgb(125, 5, 149);
}