*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('https://i.ibb.co/7KM23QN/20220902210515-1.jpg');
    background-size: cover;
}
#main > #title{
    position: absolute;
    top: 20px;
    font-size: 4rem;
    margin-bottom: 30px;
    color: white;
    text-shadow: 2px 2px 2px brown;
}
#register-form{
    height: 30vh;
    width: 30vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

input{
    width: 100%;
    height: 70px;
    font-size: large;
    color:brown;
    font-weight: bold;
}

#register-btn{
    width: 100%;
    height: 70px;
    font-size: large;
    background:linear-gradient(135deg,black,brown,rgb(58, 222, 58));
    color: white;
    font-weight: bold;
}

#register-output{
 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
    color: red;
}